.section {
    border-top: 1px solid black;
    padding: 20px;
}

.sectionTitle {
    margin-bottom: 15px;
}

.basicConcepts {
    margin-bottom: 15px;
}

.basicConceptsTitle {
    margin-bottom: 5px;
}

.linksTitle {
    margin-bottom: 5px;
}

.linkText {
    display: inline-block;
    margin-right: 10px;
}

.longDescription:not(:last-child) {
    margin-bottom: 10px;
}

.longDescriptionTitle {
    margin-bottom: 15px;
}

.longDescriptionDescription {
    margin-bottom: 15px;
}

.longDescriptionContent {
    margin-top: 10px;
}

.codeExample:not(:last-child) {
    margin-bottom: 15px;
}

.codeExampleTitle {
    margin-bottom: 10px;
}

.codeExampleDescription {
    margin-bottom: 10px;
}

.codeBox {
    border: 2px solid #4358a8;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
}
